@charset "UTF-8";

body {
	min-height: 100vh;
	background-color: #71C9CE;
}

.input-form {
	max-width: 680px;
	margin-top: 80px;
	padding: 32px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.pw-position {
	padding-right: 45px;
}

#icon {
	position: absolute;
	bottom: 11px;
	right: 17px;
	z-index: 1;
	cursor: pointer;
}

#icon2 {
	position: absolute;
	bottom: 11px;
	right: 17px;
	z-index: 1;
	cursor: pointer;
}

.valid-feedback{
	display: block;
}

.invalid-feedback{
	display: block;
}