<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.momento.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getList" resultType="org.momento.domain.BoardVO">
		<![CDATA[
			SELECT * FROM tbl_board WHERE bno > 0 AND deleted = '0' AND fixed = '0'
		]]>
	</select>

	<select id="getDeletedList" resultType="org.momento.domain.BoardVO">
		<![CDATA[
			SELECT * FROM tbl_board WHERE bno > 0 AND deleted = '1'
		]]>
	</select>
	
	<select id="getFixedList" resultType="org.momento.domain.BoardVO">
		<![CDATA[
			SELECT * FROM tbl_board WHERE bno > 0 AND deleted = '0' AND fixed = '1'
		]]>
	</select>
	
	<select id="getHotList" resultType="org.momento.domain.BoardVO">
		<![CDATA[
			SELECT bno, title, content, regdate, updatedate, referrals, views, deleted
			FROM
				(SELECT bno, title, content, regdate, updatedate, referrals, views, deleted FROM tbl_board WHERE deleted = '0' AND fixed = '0' ORDER BY  views DESC)
			WHERE rownum <= 3
		]]>
	</select>

	<insert id="insert">
		INSERT INTO tbl_board
		(bno,title,content,regdate,referrals,fixed) VALUES (seq_board.nextval,
		#{title}, #{content}, sysdate, #{referrals}, #{fixed})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			SELECT seq_board.nextval FROM DUAL
		</selectKey>
		INSERT INTO tbl_board (bno,title,content,fixed) VALUES (#{bno}, #{title}, #{content}, #{fixed})
	</insert>

	<select id="read" resultType="org.momento.domain.BoardVO">
		SELECT * FROM tbl_board WHERE bno =	#{bno}
	</select>
	
	<update id="views">
		UPDATE tbl_board SET views = views + 1 WHERE bno =	#{bno} AND deleted = '0'
	</update>

	<update id="delete">
		UPDATE tbl_board SET deleted = '1', deldate = sysdate WHERE bno = #{bno}
	</update>
	
	<update id="restore">
		UPDATE tbl_board SET deleted = '0', deldate = null WHERE bno = #{bno}
	</update>

	<update id="update">
		UPDATE tbl_board
		SET title = #{title},
		content = #{content},
		<!-- referrals = #{referrals}, -->
		updatedate = sysdate,
		fixed = #{fixed}
		WHERE bno = #{bno}
	</update>

	<select id="getListWithPaging"
		resultType="org.momento.domain.BoardVO">
  		<![CDATA[
   			SELECT
     			bno, title, content, regdate, updatedate, referrals, views, fixed, deleted
   			FROM
       		(
       			SELECT /*+INDEX_DESC(tbl_board pk_board) */
         			ROWNUM rn, bno, title, content, regdate, updatedate, referrals, views, fixed, deleted
      			FROM
         			tbl_board
       			WHERE
   		]]>

		<include refid="criteria"></include>

      
  		<![CDATA[    
       			ROWNUM <= #{pageNum} * #{amount} AND deleted = '0' AND fixed = '0'
 				)
 			WHERE rn > (#{pageNum} -1) * #{amount}
 		]]>
	</select>

	<select id="getDeletedListWithPaging"
		resultType="org.momento.domain.BoardVO">
  		<![CDATA[
   			SELECT
     			bno, title, content, regdate, updatedate, referrals, views, deleted, deldate
   			FROM
       		(
       			SELECT /*+INDEX_DESC(tbl_board pk_board) */
         			ROWNUM rn, bno, title, content, regdate, updatedate, referrals, views, deleted, deldate
      			FROM
         			tbl_board
       			WHERE
   		]]>

		<include refid="criteria"></include>

      
  		<![CDATA[    
       			ROWNUM <= #{pageNum} * #{amount} AND deleted = '1'
 				)
 			WHERE rn > (#{pageNum} -1) * #{amount}
 		]]>
	</select>

	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM tbl_board WHERE

		<include refid="criteria"></include>

		bno > 0 AND deleted = '0' AND fixed = '0'

	</select>
	
	<select id="getDeletedCount" resultType="int">
		SELECT count(*) FROM tbl_board WHERE

		<include refid="criteria"></include>

		bno > 0 AND  deleted = '1'

	</select>

</mapper>
